<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999441743002-3sm9l9npejjbdoaqfc099bum7bod4s88.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999441743002-3sm9l9npejjbdoaqfc099bum7bod4s88</string>
	<key>API_KEY</key>
	<string>AIzaSyB277ajAaJM0bKH6KxfR6z0gkItsrWnYVg</string>
	<key>GCM_SENDER_ID</key>
	<string>999441743002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>v.vasiatullin.VK-App-VVR</string>
	<key>PROJECT_ID</key>
	<string>vkapp-vvr</string>
	<key>STORAGE_BUCKET</key>
	<string>vkapp-vvr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999441743002:ios:52eb5d8310c5ff1f01b323</string>
</dict>
</plist>